<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Flask App</title>
</head>
<body>
    <h1>Lets Learn about REST API using FLASK</h1>
    <p>Now the Questio arises <b>What is REST API and what is FLASK?</b>Before we deep dive into this.Lets understand difference between REST API and Flask.
    So,REST is a set of rules for how that API should be designed and accessed.
    Essentially, Flask provides the tools to create the infrastructure for an API.
    Flask is a tool, and REST is a set of rules.
    You use Flask to implement the "how" of your API, and REST guides you in designing the "what" and "why" of your API's structure and behavior. </p>

    <h1>This is an HTML page rendered by Flask.</h1>
</body>
</html>